@import 'material-theme.scss';

#shell
{
    height: 100vh;

    #site-toolbar
    {
        padding-right:0;
        padding-left: 0;
        height:40px;
        font-weight: 300;
        
        .site-toolbar-button
        {
            line-height:40px;
            padding-left :0;
            padding-right:0;
            min-width:50px;
        }
        
        #site-title
        {
            line-height: 40px;
            height:40px;
            background-color: mat-color($vedaantees-app-accent);
            border-radius: 0; 
            letter-spacing:0.02px; 

            span.mat-button-wrapper
            {
                font-size:1.5em;
                margin:0;
                font-stretch:2px;
            }
        }
    }

    #site-content
    {
        height:100vh;
    }
}